$specgrey:#f8f9fa;
$buttongrey: rgba(191, 212, 243, 0.5);
$fontBtn: #1a73e8;
$descrOrSubt: #5f6368; 

@mixin  visited_link {
    color: blue;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.main__button {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 24px 11px;
    border-radius: 4px;
}

.header {
    height: 60px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
    width: 100%;
    position: fixed;
    background: white;
    z-index: 1;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 0 0 0;
        max-width: 1544px;
        margin: 0 auto;
    }
    &__logo {
        display: flex;
        align-items: flex-end;
        img {
            max-width: 30px;
            margin-right: 10px;
        }
        span {
            font-size: 22px;
        }
    }
    &__links {
        display: flex;
        width: 490px;
        height: 45px;
        justify-content: space-around;
    }
    &__work {
        width: 100px;
        padding: 12px 24px 11px;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: $fontBtn;
        &:hover {
            background: $buttongrey;
            color: blue;
            transition: background-color 1s, color 1s;
        }
    }
    &__signin {
        background-color: white;
        border-color: #dadce0;
        color: $fontBtn;
            &:hover {
            background-color: rgba(191, 212, 243, 0.5);
            color: blue;
            border-color: $fontBtn;
            height: 45px;
            transition: background-color 1s, color 1s, border-color 1s;
        }
    }
    &__create {
        background-color: $fontBtn;
        color: white;
        &:hover {
            background-color: rgb(69, 69, 224);
            transition: background-color 1s;
        }
    }
}

.feature {
    padding: 80px 125px 100px 125px;
    &__container {
        display: grid;
        grid-gap: 130px;
        grid-template-columns: 465px 800px;
        grid-template-rows: 594px;
        }
    &__buttons {
        display: flex;
        justify-content: space-between;
        width: 340px;
    }
    &__block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: center;
        min-height: 365px;
        &__title {
            font-size: 64px;
            font-weight: 400;
        } 
        &__descr {
            color: $descrOrSubt;
            margin-bottom: 25px;
        }
    }
    &__img {
        display: block;
        width: 785px;
    }
}

.tabs {
    &__container {
        display: grid;
        grid-gap: 120px;
        grid-template-columns: 625px 390px;
        grid-template-rows: 248px 268px;
        //padding: 100px 135px;
    }
    &__content {
        padding-top: 10px;
    }
    &__title {
        color: #202124;
        font-size: 42px;
        font-weight: 500;
        margin-bottom: 24px;
    }
    &__subtitle {
        font-size: 22px;
        margin: 50px 0 0 0; 
        &:hover {
        cursor: pointer;
        color: #1a73e8;
    }
}
    &__descr {
        color: $descrOrSubt;
        font-size: 16px;
        font-weight: 400;
        margin: 10px 0 0 0;
    }
    &__imgs {
        padding-top: 50px;
    }
    &__img {
        max-width: 100%;
    }
    &__item {
        position: relative;
        padding-left: 15px;
        &:before {
            display: block;
            content: '';
            position: absolute;
            left: 0px;
            margin-right: 15px;
            height: 100%;
            width: 3px;
            background: rgb(202, 199, 199);
        }
    }
}

.other__tabs {
    padding: 80px 125px 100px 125px;
    &__container {
        display: grid;
        grid-gap: 40px;
        grid-template-columns: 660px 539px;
        grid-template-rows: 470px;
    }
    &__tabs__imgs {
        display: block;
        margin-right: 100px; 
        img {
            max-width: 100%;
        }
   }
   &__title {
    color: #202124;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 24px;
    }
    &__subtitle {
        font-size: 22px;
        margin: 50px 0 0 0; 
        &:hover {
        cursor: pointer;
        color: #1a73e8;
        }
    }
    &__descr {
        color: $descrOrSubt;
        font-size: 16px;
        font-weight: 400;
        margin: 10px 0 0 0;
    }
    &__item {
        position: relative;
        padding-left: 15px;
        &:before {
            display: block;
            content: '';
            position: absolute;
            left: 0px;
            margin-right: 15px;
            height: 100%;
            width: 3px;
            background: rgb(202, 199, 199);
        }    
    }
}

.tout {
    min-height: 245px;
    background: $specgrey;
    padding: 100px 0;
    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        max-width: 301px;
        &__img {
            width: 46px;
            height: 46px;
            color: rgb(26, 115, 232);
        }
        &__title {
            margin: 40px 0 20px 0;
            font-size: 22px;
            font-weight: 500;
        }
        &__descr {
            font-size: 18px;
            font-weight: 500;
            line-height: 28px;
            color: $descrOrSubt;
        }
    }
}

.workspace {
    padding: 100px 0;
    &__content {
        min-height: 455px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__logos {
        height: 40px;
        width: 300px;
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-size: 42px;
        line-height: 52px;
        font-weight: 500;
    }
    &__subtitle {
        font-size: 27px;
        line-height: 38px;
        color: $descrOrSubt;
        max-width: 700px;
        margin: 0 auto;
        text-align: center;
    }
    &__descr {
        font-size: 18px;
        line-height: 28px;
        min-height: 112px;
        max-width: 575px;
        text-align: center;
    }
    &__link {
        padding: 12px 24px 11px;
        border-radius: 4px;
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
        &:hover {
            background: $buttongrey;
            color: blue;
        }
        &:visited {
            @include visited_link
        }
    }
}

.answers {
    min-height: 375px;
    padding: 100px 0;
    background: $specgrey;
    &__content {
        display: grid;
        grid-gap: 130px;
        grid-template-columns: 400px auto;
    }
    &__title {
        font-size: 42px;
        font-weight: 500;
        margin-bottom: 60px;
    }
    &__help {
        background: white;
        padding: 20px;
        border-radius: 5px;
        border: rgb(218, 217, 217) solid 1px; 
        &__title {
            font-weight: 500;
            font-size: 22px;
            margin-bottom: 15px;
        }
        &__descr {
            margin-bottom: 30px;
            font-size: 18px;
            font-weight: 400;
            color: $descrOrSubt;
        }
        button {
            background: white;
            color: $fontBtn;
            &:hover {
                background: rgba(191, 212, 243, 0.5);
                color: blue;
                border-color: #1a73e8;
        }
    }
}
    &__question {
        position: relative;
        border-bottom: black 0.5px solid;
        padding: 35px 0;
        font-size: 17px;
        cursor: pointer;
        &__mark {
            position: absolute;
            right: 0;
        }
        &__descr {
            display: none;
            color: $descrOrSubt;
            font-size: 16px;
            line-height: 24px;
        }
        &__info {
            display: block;
            margin: 24px 0 0 0;
            text-decoration: none;
            @include visited_link;
        }
    }
}

.world {
    padding: 100px 0 50px 0;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__logo {
        display: block;
        max-width: 35px;
    }
    &__title {
        font-size: 42px;
        line-height: 52px;
        font-weight: 500;
    }
    &__subtitle {
        font-size: 28px;
        color: $descrOrSubt;
    }
    &__create {
        margin: 30px 0 0 0;
    }
    &__work {
        margin: 20px 0 0 0;
    }
}

.footer {
    min-height: 36px;
    padding: 30px 0;
    background-color: #f8f9fa;
    &__container {
        max-width: 1544px;
        margin: 0 auto;
    }
    &__links {
        display: flex;
        justify-content: space-between;
        position: relative;

    }
    &__small_links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;

        a {
            display: block;
            text-decoration: none;
            color: $descrOrSubt;
            font-weight: 400;
        }
    }
    &__large_links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 24%;

        a {
            display: block;
            justify-content: space-between;
            text-decoration: none;
            color: $descrOrSubt;
            font-weight: 400;
            margin-right: 25px;
        }
    }
    &__question {
        position: absolute;
        margin-right: 15px;
        color: white;
        background: $descrOrSubt;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        right: 24%;
        text-align: center;
    }
    &__langs {
        width: 296px;
        height: 25px;
        border: none;
        background-color: #f8f9fa;
    }
}

.kid {
    &__img {
        width: -webkit-fill-available;
    }
}

.rotate_mark {
    transform: rotate(180deg);
}

.show {
    display: block;
}