* {
    font-family: 'Open Sans', sans-serif;
}

.header {
    height: 60px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
    width: 100%;
    position: fixed;
    background-color: white;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 72px 0 72px;
    }
    &__logo {
        display: flex;
        align-items: flex-end;
        img {
            max-width: 30px;
            margin-right: 10px;
        }
        span {
            font-size: 22px;
        }
    }
    &__links {
        display: flex;
        width: 490px;
        height: 45px;
        justify-content: space-around;
    }
    &__work {
        width: 100px;
        padding: 12px 24px 11px;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: #1a73e8;
        &:hover {
            background: rgba(191, 212, 243, 0.5);
            color: blue;
        }
    }
    &__signin {
        background-color: white;
        border-color: #dadce0;
        color: #1a73e8;
            &:hover {
            background: rgba(191, 212, 243, 0.5);
            color: blue;
            border-color: #1a73e8;
            height: 45px;
        }
    }
    &__create {
        background-color: #1a73e8;
        color: white;
        &:hover {
            background-color: rgb(69, 69, 224);
        }
    }
    &__button {
        font-size: 16px;
        font-weight: 500;
        padding: 12px 24px 11px;
        border-radius: 4px;
    }
}

/* .smt {
    padding-top: 100px;
} */

.feature {
    &__container {
        display: grid;
        grid-template-columns: 465px 860px;
        grid-template-rows: 650px;
        padding-top: 80px;
        grid-gap: 100px;
        padding-left: 125px;
        padding-right: 125px;
        }
    &__buttons {
        display: flex;
        justify-content: space-between;
        width: 340px;
    }
    &__block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: center;
        //width: 465px;
        min-height: 391px;
        &__title {
            font-size: 64px;
        } 
        &__descr {
            color: #5f6368;
        }
    }
    &__img {
        display: block;
        width: 785px;
    }
}