* {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.main__button {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 24px 11px;
  border-radius: 4px;
}

.header {
  height: 60px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
  width: 100%;
  position: fixed;
  background: white;
  z-index: 1;
  /* &__button {
      font-size: 16px;
      font-weight: 500;
      padding: 12px 24px 11px;
      border-radius: 4px;
  } */
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 72px 0 72px;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header__logo img {
  max-width: 30px;
  margin-right: 10px;
}
.header__logo span {
  font-size: 22px;
}
.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 490px;
  height: 45px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header__work {
  width: 100px;
  padding: 12px 24px 11px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #1a73e8;
}
.header__work:hover {
  background: rgba(191, 212, 243, 0.5);
  color: blue;
}
.header__signin {
  background-color: white;
  border-color: #dadce0;
  color: #1a73e8;
}
.header__signin:hover {
  background: rgba(191, 212, 243, 0.5);
  color: blue;
  border-color: #1a73e8;
  height: 45px;
}
.header__create {
  background-color: #1a73e8;
  color: white;
}
.header__create:hover {
  background-color: #4545e0;
}

.feature {
  padding: 80px 125px 100px 125px;
}
.feature__container {
  display: -ms-grid;
  display: grid;
  grid-gap: 130px;
  -ms-grid-columns: 465px 130px 800px;
  grid-template-columns: 465px 800px;
  -ms-grid-rows: 594px;
  grid-template-rows: 594px;
  /* padding-top: 80px;
  padding-left: 125px;
  padding-right: 125px;
  padding-bottom: 100px; */
}
.feature__container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.feature__container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.feature__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 340px;
}
.feature__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  min-height: 365px;
}
.feature__block__title {
  font-size: 64px;
}
.feature__block__descr {
  color: #5f6368;
}
.feature__img {
  display: block;
  width: 785px;
}

.tabs__container {
  display: -ms-grid;
  display: grid;
  grid-gap: 120px;
  -ms-grid-columns: 625px 120px 390px;
  grid-template-columns: 625px 390px;
  -ms-grid-rows: 248px 120px 268px;
  grid-template-rows: 248px 268px;
}

.tabs__container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.tabs__container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.tabs__container > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.tabs__container > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.tabs__content {
  padding-top: 10px;
}
.tabs__title {
  color: #202124;
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 24px;
}
.tabs__subtitle {
  font-size: 22px;
  margin: 50px 0 0 0;
}
.tabs__subtitle:hover {
  cursor: pointer;
  color: #1a73e8;
}
.tabs__descr {
  color: #5f6368;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0 0 0;
}
.tabs__imgs {
  padding-top: 50px;
}
.tabs__img {
  max-width: 100%;
}
.tabs__item {
  position: relative;
  padding-left: 15px;
  /* &:hover:before {
      cursor: pointer;
      color: #1a73e8;
  } */
}
.tabs__item:before {
  display: block;
  content: "";
  position: absolute;
  left: 0px;
  margin-right: 15px;
  height: 75px;
  width: 3px;
  background: #cac7c7;
}

.other__tabs {
  padding: 80px 125px 100px 125px;
}
.other__tabs__container {
  /* display: grid;
  grid-gap: 120px;
  grid-template-columns: 390px 625px;
  grid-template-rows: 268px 248px; */
  display: -ms-grid;
  display: grid;
  grid-gap: 40px;
  -ms-grid-columns: 660px 40px 539px;
  grid-template-columns: 660px 539px;
  -ms-grid-rows: 470px;
  grid-template-rows: 470px;
}
.other__tabs__container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.other__tabs__container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.other__tabs__tabs__imgs {
  display: block;
  margin-right: 100px;
}
.other__tabs__tabs__imgs img {
  max-width: 100%;
}
.other__tabs__title {
  color: #202124;
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 24px;
}
.other__tabs__subtitle {
  font-size: 22px;
  margin: 50px 0 0 0;
}
.other__tabs__subtitle:hover {
  cursor: pointer;
  color: #1a73e8;
}
.other__tabs__descr {
  color: #5f6368;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0 0 0;
}
.other__tabs__item {
  position: relative;
  padding-left: 15px;
}
.other__tabs__item:before {
  display: block;
  content: "";
  position: absolute;
  left: 0px;
  margin-right: 15px;
  height: 75px;
  width: 3px;
  background: #cac7c7;
}

.tout {
  min-height: 245px;
  background: #f8f9fa;
  padding: 100px 0;
}
.tout__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tout__item {
  max-width: 301px;
}
.tout__item__img {
  width: 46px;
  height: 46px;
  color: #1a73e8;
}
.tout__item__title {
  margin: 40px 0 20px 0;
  font-size: 22px;
  font-weight: 500;
}
.tout__item__descr {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #5f6368;
}

.workspace {
  padding: 100px 0;
}
.workspace__content {
  min-height: 455px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.workspace__logos {
  height: 40px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.workspace__title {
  font-size: 42px;
  line-height: 52px;
  font-weight: 500;
}
.workspace__subtitle {
  font-size: 27px;
  line-height: 38px;
  letter-spacing: 0.0247517px;
  color: #5f6368;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.workspace__descr {
  font-size: 18px;
  line-height: 28px;
  min-height: 112px;
  max-width: 575px;
  text-align: center;
}
.workspace__link {
  padding: 12px 24px 11px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}
.workspace__link:hover {
  background: rgba(191, 212, 243, 0.5);
  color: blue;
}
.workspace__link:visited {
  color: blue;
}

.answers {
  padding: 100px 0;
  background: #f8f9fa;
}
.answers__content {
  display: -ms-grid;
  display: grid;
  grid-gap: 130px;
  -ms-grid-columns: 400px 130px auto;
  grid-template-columns: 400px auto;
}
.answers__title {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 60px;
}
.answers__help {
  background: white;
  padding: 20px;
  border-radius: 5px;
  border: #dad9d9 solid 1px;
}
.answers__help__title {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 15px;
}
.answers__help__descr {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #5f6368;
}
.answers__help button {
  background: white;
  color: #1a73e8;
}
.answers__help button:hover {
  background: rgba(191, 212, 243, 0.5);
  color: blue;
  border-color: #1a73e8;
}
.answers__question {
  border-bottom: black 0.5px solid;
  padding: 35px 0;
  font-size: 17px;
}